
/** {
    transition: 0.2s all ease;
}
*/
.card {
    transition: 0.2s all ease;
}
#top-header-row {
    margin: 0 3rem;
}

#navbar-toggler-btn {
    box-shadow: none;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.searchByFilter {
    border-left: 1px solid #D9D9D9;
    width: 20%;
}

.searchByFilter:nth-last-child(1) {
    /* padding-right: 30px; */
    border-right: 1px solid #D9D9D9;
}


.offcanvas-body {
    justify-content: center;
}
.stories-privacy-part {
    justify-content: normal;
    margin-left:1%;
}

.profile-link-part {
    margin-right: 3vw;
}

#search-inp {
    margin: 0 3rem;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#search-inp .form-control {
        background: url("../CI Platform Assets/search.png") no-repeat;
        background-position: 12px center;
        background-size: 1em;
        width: 350px;
        font-size: 16px;
        /* line-height: 23px; */
        padding: 8px 16px 5px 48px;
}
.filter-list {
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}

.filters-section {
    margin-top: 2%;
}
#submit-new-mission-btn {
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
}
#submit-new-mission-btn :hover,
{
    color: #ffff;
    background-color: #F88634;
}
@media (max-width: 767px) {
    .searchByFilter {
        border: none;
    }

        .searchByFilter:nth-last-child(1) {
            border: none;
        }

    #top-header-row {
        margin: 0 1rem;
    }

    #search-inp {
        margin-left: 1.5rem;
    }
}

@media (max-width: 575px) {
    #search-icon {
        display: none;
    }

    .profile-link-part {
        margin-right: 0vw;
    }

    #top-header-row {
        margin: 0;
    }

    #search-inp {
        margin-left: 0.25rem;
    }

    .filter-offcanvas {
        justify-self: center;
    }

    #search-inp .form-control {
        background: none;
        padding: 12px 16px 12px 0.75rem;
    }
}
