 /*Position the image container (needed to position the left and right arrows)*/ 
.container {
    position: relative;
}

/*/ Hide the images by default /*/
.mySlides {
    display: none;
}

/*/ prevent streching for slider images /*/
.slider-images {
    object-fit: cover;
}

/*/ Add a pointer when hovering over the thumbnail images /*/
.cursor {
    cursor: pointer;
}

/*/ Next & previous buttons /*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*/ Position the "next button" to the right /*/
.next {
    margin-right: 16px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*/ Six columns side by side /*/
.column {
    padding: 0 5px;
    float: left;
    width: 16.66%;
}

/*/ Add a transparency effect for thumnbail images /*/
.demo {
    opacity: 0.6;
    object-fit: cover;
}

.active,
.demo:hover {
    opacity: 1;
}

/*/ mission info /*/

/*/ add to fav and recommend to friend btns /*/

#add-to-fav,
#recommen-to-co {
    height: 50px;
    border: 1px solid grey;
    border-radius: 20px;
}

    #add-to-fav a,
    #recommen-to-co a {
        border: 0;
    }
