
@{
    ViewData["Title"] = "noMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="no-mission-found " style="height:74vh;position:relative">
    <h1 class="mx-auto" style="width:fit-content;">Mo Mission Found</h1>
    <div class="justify-content-center">
            <a class='btn btn-primary mx-auto' id="submit-new-mission-btn">Submit new mission <img src="/CI Platform Assets/right-arrow.png" /></a>
    </div>
</div>
