
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<div class="container-fluid">
        <div class="row">
            <div id="carousel" class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" id="indi" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" id="indi" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" id="indi" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/CI Platform Assets/Grow-Trees-On-the-path-to-environment-sustainability-login_copy.png"
                                class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h1>Image:1 Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/CI Platform Assets/Grow-Trees-On-the-path-to-environment-sustainability-login_copy.png"
                                class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h1>Image:2 Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/CI Platform Assets/Grow-Trees-On-the-path-to-environment-sustainability-login_copy.png"
                                class="d-block" alt="...">
                            
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>Image:3 Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                </div>
                           
                            
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>

            </div>
            <div id="form" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-self-center">
                @*<div class="row justify-content-center ">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">*@
                        <form class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto">
                            <div id="forgot-password-header" class="text-center">
                                <h3>New Password</h3>
                                <p>Please enter a new password in the fields below.</p>
                            </div>
                            <div class="form-group mt-2 ">
                                <label for="exampleInputPassword1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter New password">
                            </div>
                            <div class="form-group mt-3">
                                <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password again">
                            </div>
                            <script>
                                (document).ready(function(){
                                    $("#exampleInputPassword1").passwordify().focus();
                                });
                            </script>

                            <button id="reset-password-page-btn" class="btn btn-primary col-12 my-4" type="button">Change Password</button>

                            <div class="text-center">
                                <a asp-controller="Pages" asp-action="Login" style="text-decoration: none;font-size: 14px; color: #414141;">Login</a>
                            </div>
                        </form>
                        <div class="text-center align-bottom pp" >
                    
                                <span style="font-size: 14px; color: gray">Privacy Policy</span>
                   
                        </div>
                    @*</div>
                </div>*@
            </div>
        </div>
    </div>
