<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CI_Platform_web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landingPage.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/jplanding.css" asp-append-version="true" />

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid " id="top-header-row">
            <div id="nav-bar">
                <button class="navbar-toggler border-0" href="#menubar" role="button" data-bs-toggle="offcanvas"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    id="navbar-toggler-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="menubar"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <ul class="offcanvas-body mb-0">
                        <li class="navbar-nav nav-item">
                            <a class="nav-link" aria-current="page" href="#">Stories</a>
                        </li>
                        <li class="navbar-nav nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Privacy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">First Link</a></li>
                                <li><a class="dropdown-item" href="#">Second Link</a></li>
                                <li><a class="dropdown-item" href="#">Third Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
               
            </div>
            <div id="nav-bar"jj>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown profile-link-part" href="#" id="navbarScrollingDropdown " role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/CI Platform Assets/user-img.png" class="rounded-circle" height="35" width="35"
                                alt="Profile pic" loading="lazy" />
                            Evan Donohue
                            <img src="./CI Platform Assets/drop-down.png" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">First Link</a></li>
                            <li><a class="dropdown-item" href="#">Second Link</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Third Link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar-expand-md container-fluid border-top border-bottom bg-light px-0">
        <div class="row container-fluid mx-auto px-0">
            <div class="col-10 col-md-5 py-2">
                <form class="d-flex pt-0" id="search-inp">
                    <input class="form-control ms-0 me-2 border-0 bg-light" type="search" placeholder="Search mission..."
                        aria-label="Search">
                </form>
            </div>
            <button class="col-2 navbar-toggler border-0  filter-offcanvas" href="#filters" role="button"
                data-bs-toggle="offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" id="navbar-toggler-btn">
                <img src="/CI Platform Assets/filter.png" alt="">
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="filters" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="col-auto py-2  searchByFilter">
                        <ul class="navbar-nav filter-types " style="--bs-scroll-height: 100px;">
                            <li class="nav-item dropdown w-100">
                                <label class="nav-link d-flex justify-content-between align-items-center px-3" href="#" id="navbarScrollingDropdown" role="button"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                  Country
                                  <img src="./CI Platform Assets/drop-down.png" alt="">
                                </label>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                
                                        <li><a class="dropdown-item" href="#">India</a></li>
                                        <li><a class="dropdown-item" href="#">USA</a></li>
                                        <li><a class="dropdown-item" href="#">Japan</a></li>
                                </ul>
                             </li>
                        </ul>
                     </div>
                    <div class="col-auto py-2  searchByFilter">
                        <ul class="navbar-nav filter-types" style="--bs-scroll-height: 100px;">
                            <li class="nav-item dropdown w-100">
                                <a class="nav-link dropdown d-flex justify-content-between align-items-center px-3" href="#" id="navbarScrollingDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    City
                                    <img src="./CI Platform Assets/drop-down.png" alt="">
                                </a>
                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city1" value="Ahmedabad">
                                    Ahmedabad</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city2" value="NewYork">
                                    NewYork</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city3" value="Tokyo">
                                    Tokyo</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city1" value="Ahmedabad">
                                    Ahmedabad</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city2" value="NewYork">
                                    NewYork</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city3" value="Tokyo">
                                    Tokyo</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city1" value="Ahmedabad">
                                    Ahmedabad</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city2" value="NewYork">
                                    NewYork</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="" name="city3" value="Tokyo">
                                    Tokyo</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto py-2  searchByFilter">
                        <ul class="navbar-nav filter-types" style="--bs-scroll-height: 100px;">
                            <li class="nav-item dropdown w-100">
                                <label class="nav-link dropdown d-flex justify-content-between align-items-center px-3" href="#" id="navbarScrollingDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Theme
                                    <img src="./CI Platform Assets/drop-down.png" alt="">
                                </label>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="theme1" name="theme1" value="Theme1">
                                    Theme1</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="theme2" name="theme2" value="Theme2">
                                    Theme2</li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="theme3" name="theme3" value="Theme3">
                                    Theme3</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto py-2  searchByFilter">
                        <ul class="navbar-nav filter-types" style="--bs-scroll-height: 100px;">
                            <li class="nav-item dropdown w-100">
                                <label class="nav-link dropdown d-flex justify-content-between align-items-center px-3" href="#" id="navbarScrollingDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Skills
                                    <img src="./CI Platform Assets/drop-down.png" alt="">
                                </label>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="skill1" name="skill1" value="Skill1">
                                    <label for="skill1">Skill1</label></li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="skill2" name="skill2" value="Skill2">
                                    <label for="skill2">Slill2</label></li>
                                    <li class="dropdown-item"><input class="checkbox" type="checkbox" id="skill3" name="skill3" value="Skill3">
                                    <label for="skill3">Skill3</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
    <div class="filters-section d-flex align-items-center flex-wrap justify-content-center">
        @*<span class="filter-list  ps-3 pe-1 me-2 " style="margin-top:2%;">Clear All<button class="filter-close-button" id="clearbutton">&times;</button></span> *@
    </div>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="position:absolute; bottom:0; width:100%;">
        <div class="container py-4">
            <a href="#" class="text-start">Privacy Policy</a>
        </div>
    </footer> 

    <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js' asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/extra.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
